flask==2.3.3
requests==2.31.0
beautifulsoup4==4.12.2
python-dotenv==1.0.0
pandas~=1.5.3
numpy~=1.23.5
gunicorn==20.1.0
shopify-python-api>=12.1.0
flask-socketio==5.3.6
python-socketio>=5.0.0
eventlet==0.33.3
google-auth==2.22.0
google-auth-oauthlib==1.0.0
google-auth-httplib2==0.1.0
google-api-python-client==2.95.0
